.github-list {
    list-style: none; /* 移除列表标记 */
    padding: 0; /* 移除默认内边距 */
    display: flex; /* 使用Flexbox布局 */
    justify-content: center; /* 水平居中对齐 */
    align-items: center; /* 垂直居中对齐 */
}

.github-link {
    display: block; /* 防止链接换行 */
    margin: 5px; /* 添加间隔，根据需要调整 */
    text-decoration: none; /* 移除下划线 */
    color: inherit; /* 继承父元素文本颜色 */
    transition: transform 0.3s ease; /* 添加平滑变换过渡效果 */
}

.github-icon {
    width: 24px; /* 设置图标宽度 */
    height: 24px; /* 设置图标高度 */
    transition: transform 0.3s ease; /* 添加平滑变换过渡效果 */
}

.github-link:hover .github-icon {
    transform: scale(1.2); /* 鼠标悬浮时放大图标 */
}

.github-link:focus .github-icon,
.github-link:active .github-icon {
    transform: scale(1.2); /* 点击时保持图标放大 */
}

/* 设置section1的样式，使其部分被header和main覆盖 */
.section-to-cover {
    position: absolute; /* 绝对定位 */
    top: 0; /* 从顶部开始覆盖 */
    right: 0; /* 根据需要调整右边界的覆盖范围 */
    bottom: 55%; /* 根据需要调整下边界的覆盖范围 */
    left: 0; /* 从左侧开始覆盖 */
    background-color: rgb(237,239,278); /* 覆盖部分的背景色 */
    z-index: 0; /* 确保section覆盖在header和main之下 */
    display: flex; /* 使用flex布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.container {
    width: 100%; /* 根据截图中的尺寸设置 */
    height: 300px;
    margin: 0; /* 居中显示 */

}
.row {
    display: flex; /* 使用flex布局 */
    align-items: center; /* 垂直居中对齐 */
    height: 300px;
}
.col-left {
    width: 50%; /* 子容器宽度各占一半 */
    /* 根据需要添加其他样式，如边框、内边距等 */
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* 子元素垂直排列 */
    text-align: left; /* 文本左对齐 */
}

.col-right {
    width: 50%; /* 子容器宽度各占一半 */
    /* 根据需要添加其他样式，如边框、内边距等 */
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* 子元素垂直排列 */
    text-align: right; /* 文本右对齐 */
}

.col-left h1 {
    font-size: 3rem; /* 根据设计稿设置字体大小 */
    margin-bottom: 1rem; /* 根据需要调整 */
}

.col-left p{
    color: rgb(132,146,166); /* 根据设计稿设置颜色 */
    margin-bottom: 2rem; /* 根据需要调整 */
}

@font-face {
    font-family: logo-font;
    src: url('@/assets/font/Chillax-Semibold.otf');
}

.logo-col {
    font-family: logo-font,serif;
    font-size: 40px;
    color: #007bff;
}


/* 设置section2的样式，使其部分被header和main覆盖 */
.section-to-cover2{
    position: absolute; /* 绝对定位 */
    top: 45%;
    right: 0; /* 根据需要调整右边界的覆盖范围 */
    left: 0; /* 从左侧开始覆盖 */
    height: 700px;
    background-color: rgb(241,244,274); /* 覆盖部分的背景色 */
    z-index: 0; /* 确保section覆盖在header和main之下 */
    display: flex; /* 使用flex布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    padding: 0 70px;
}

.container2 {
    width: calc(100% - 140px); /* 根据截图中的尺寸设置 */
    height: 500px;
    position: absolute;/* 绝对定位 */
    top: 0;
    margin: 0; /* 居中显示 */
    display: flex;
    flex-direction: column;
}

.row2 {
    flex: 0 0 20%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 30% */
    text-align: center; /* 文本居中 */
    margin-bottom: 1rem; /* 根据需要调整 */
}

.row3 {
    display: flex;
    flex-wrap: wrap; /* 允许子元素换行 */
    justify-content: space-between; /* 子元素之间的间隔相等 */
    align-items: flex-end; /* 子元素的底部对齐 */
    width: 100%; /* 确保.row3占满其父容器的宽度 */
}

.el-col {
    flex: 0 0 calc(33.333% - (var(--gap) / 2)); /* 设置每个.el-col的宽度为1/3，并减去一半的间隙 */
    max-width: calc(33.333% - (var(--gap) / 2)); /* 设置最大宽度，防止换行后的宽度超出1/3 */
    padding: 10px; /* 添加一些内边距 */
    box-sizing: border-box; /* 确保元素的总宽度包括内边距 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影的水平偏移、垂直偏移、模糊半径和颜色 */
    background-color: #f8f8f8; /* 设置背景色 */
    text-align: center; /* 文本居中 */
    height: 150px; /* 设置盒子的高度 */
    border-radius: 10px; /* 设置圆角效果 */
    --gap: 60px; /* 假设间隙为10px，根据需要调整 */
    margin: 30px 0; /* 上下间隙为gap的一半，左右间隙为0 */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* 设置阴影和变换的过渡效果 */
    display: flex;
}

/* 针对后三个.el-col的样式 */
.el-col:nth-last-child(3):nth-child(3),
.el-col:nth-last-child(2):nth-child(2),
.el-col:nth-last-child(1):nth-child(1) {
    align-self: flex-start; /* 顶部对齐到容器顶部 */
}

/* 鼠标悬浮时的样式 */
.el-col:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* 增加阴影的模糊半径和扩展半径 */
    transform: translateY(-5px); /* 向上移动5px，创建一个弹出的效果 */
}

.el-col-1, .el-col-2 {
    width: 50%; /* 子容器宽度各占一半 */
    display: flex;
    justify-content: center;
    align-content: center;
    /* 其他样式保持不变 */
}

.row2 h1{
    font-size: 2rem; /* 根据设计稿设置字体大小 */
    color: black; /* 根据设计稿设置颜色 */
    display: flex; /* 使用flex布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */

}

.row2 p{
    color: rgb(132,146,166); /* 根据设计稿设置颜色 */
    display: flex; /* 使用flex布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}
